html {
    min-height: 100%
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    background: #1488cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1488cc, #2b32b2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1488cc, #2b32b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

