<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vultch30</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Quicksand:400,500,700" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-sticky-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Vultch30</a>
            </div>
        </div>
    </nav>
    <!--<nav class="navbar navbar-default navbar-sticky-top m-4 pt-4">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand" href="#">Vultch30 <small>Score and Stat Tracking for Quiz Bowl Teams</small></a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->



    <!--<div class="container-fluid m-5">-->
        <!--<div class="row top-buffer">-->
            <!--<div class="col-xl-12">-->
                <!--<h1>Vultch30</h1>-->
                <!--<h6>Score and Stat Tracking for Quiz Bowl Teams</h6>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row mt-5 justify-content-center text-center">
            <div class="col-lg-8">
                <h1>SCORE CONFIDENTLY</h1>
            </div>
        </div>

        <div class="row mt-5 justify-content-center text-center">
            <div class="col-lg-5">
                Vultch30 is a cloud-based application for score and stat tracking designed for everyone in the quiz bowl community. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-lg-4">
                <h3 class="text-center">Sign Up</h3>
                <form action="{{ url_for('newUser') }}" method="post">
                    <div class="form-group">
                        <label for="usernameInput">Username</label>
                        <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Pick a username">
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" name="email" class="form-control" id="emailInput" placeholder="you@quizbowlrocks.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Create a password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-light">Sign up for Vultch30</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
